autobahn==0.10.3
backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
click==4.0
docopt==0.6.2
httplib2==0.9.1
mediawiki-utilities==0.4.14
more-itertools==2.2
mwcites==0.2.0
mwparserfromhell==0.3.3
PyMySQL==0.6.6
redis==2.10.3
requests==2.6.2
rq==0.5.2
six==1.9.0
socketIO-client==0.6.3
Twisted==15.1.0
txaio==1.0.0
websocket-client==0.30.0
zope.interface==4.1.2