autobahn==0.9.5
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
celery==3.1.18
crontab==0.20.2
daemonize==2.3.1
httplib2==0.9
irc==11.0.1
jaraco.timing==1.1
jaraco.util==10.6
more-itertools==2.2
mwparserfromhell==0.3.3
mwcites==0.2.0
oauthlib==0.7.2
#oursql==0.9.3.1
#pydot==1.0.2
pyparsing==2.0.3
#pYsearch==3.1
redis==2.10.3
requests-oauthlib==0.4.2
requests-toolbelt==0.3.1
requests==2.5.1
rq==0.4.6
six==1.9.0
socketIO-client==0.5.6
Twisted==14.0.2
websocket-client==0.23.0